http://weadco.googlecode.com/svn/trunk/Addons/
You will need to get the WAC base and WAC helecopter .svn's in order to see the helecopters.
If you have any of the other EGI weapons packs YOU MUST REMOVE THEM OR THIS MAY NOT WORK AT ALL!
--------------------------

You must move the scripts folder outside of the addons folder than drop it in the scripts folder in your garrysmod/garrysmod in order to hear sounds. 